/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

a, a:visited {
	color: #862633;
	text-decoration: none;
}

a:hover {
	color: #EF4548;
}

a:active {
	color: #AD3234;
}

body {
	color: #000;
	font-size: 1em;
	margin: 5px;
}

h1 {
	font-size: 3em;
}

h2 > a {
	background: rgb(134,38,51);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg2MjYzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhZDMyMzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, rgba(134,38,51,1) 0%, rgba(173,50,52,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(134,38,51,1)), color-stop(100%,rgba(173,50,52,1)));
	background: -webkit-linear-gradient(top, rgba(134,38,51,1) 0%,rgba(173,50,52,1) 100%);
	background: -o-linear-gradient(top, rgba(134,38,51,1) 0%,rgba(173,50,52,1) 100%);
	background: -ms-linear-gradient(top, rgba(134,38,51,1) 0%,rgba(173,50,52,1) 100%);
	background: linear-gradient(to bottom, rgba(134,38,51,1) 0%,rgba(173,50,52,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#862633', endColorstr='#ad3234',GradientType=0 );
	
	border-radius: 5px;
	display: block;
	font-size: 2em;
	margin: 5px auto;
	padding: 5px 0;
	text-align: center;
	width: 40%;
	max-width: 200px;
}

h2 > a, h2 > a:visited {
	color: #FFF;
	font-weight: bold;
}

h2 > a:hover {
	color: #CCC;
}

h2 > a:active {
	color: #999;
}

section {
	margin-bottom: 20px;
}

section#header {
	text-align: center;
}

