h3 {
	font-size: 1.8em;
	font-weight: bold;
}

li.event {
	margin-bottom: 2em;
}

div.title {
	font-size: 1.6em;
	font-weight: bold;
}

div.title > a {
	color: #000;
}

div.panel.left {
	float: left;
	margin: 0 2em 0 1em;
}

div.panel.right {
	background-color: #FDD;
	margin-top: 0.1em;
	padding: 0.5em 0;
}

div.votebox.up {
	margin-top: 0em;
}

div.votebox.down {
	margin-top: -0.2em;
}

span.label {
	color: #333;
	margin-right: 0.5em;
}

span.locale {
	font-size: 1.2em;
}

span.vote {
	font-size: 1.8em;
	font-weight: bold;
}

span.vote.yes {
	color: #862633;
}

span.vote.no {
	color: #999;
}

