@media all {
	ul#info > li {
		border-bottom: 0.1em solid #862633;
	}
	
	div.label {
		width: 5.1em;
	}
}

@media all and (max-device-width: 720px) {
	ul#info > li {
		border-bottom: 0.2em solid #862633;
	}
	
	div.label {
		font-size: 2.5em;
		width: 8em;
	}
}

ul#info > li {
	padding: 0.3em 0.1em;
}

div.label {
	color: #666;
}

span.gray {
	color: #666;
}
