li.event {
	clear: both;
	margin-bottom: 2em;
}

div.title {
	font-size: 1.6em;
	font-weight: bold;
}

div.title > a {
	color: #000;
}

div.panel.left {
	border-radius: 0.5em;
	background-color: #FDD;
	float: left;
	margin-top: 0.1em;
	padding: 0.5em;
}

div.panel.right {
	float: left;
	margin-left: 1em;
}

div.votebox.up {
	margin-top: 0em;
}

div.votebox.down {
	margin-top: -0.2em;
}

span.label {
	color: #333;
	margin-right: 0.5em;
}

span.locale {
	font-size: 1.2em;
}

span.vote {
	font-size: 1.8em;
	font-weight: bold;
}

span.vote img {
	height: 1em;
	width: 1em;
}

span.vote.yes img {
	opacity: 1.0;
}

span.vote.no img {
	opacity: 0.5;
}

span.vote.no img:hover {
	opacity: 1.0;
}

