table {
	border: 0.1em solid #862633;
	border-radius: 0.2em;
	padding: 0.2em;
}

td, th {
	border-right: 0.1em solid #AD3234;
}

td {
	text-wrap: none;
}

td:nth-child(1) {
	width: 40%;
}

td:nth-child(2) {
	width: 30%;
}

td:nth-child(3) {
	width: 10%;
}

td:nth-child(4) {
	width: 10%;
}

td:nth-child(5), td:nth-child(6), td:nth-child(7) {
	text-align: center;
	vertical-align: middle;
}

th {
	font-size: 1.1em;
}

thead > tr {
	background-color: #B58484;
	border-bottom: 0.3em solid #AD3234;
}

tr {
	border-bottom: 0.1em solid #AD3234;
	padding: 0.2em;
}

tr:nth-child(even) {
	background-color: #D38787;
}

tr:nth-child(odd) {
	background-color: #FFF;
}

tbody tr a {
	display: block;
	height: 100%;
	width: 100%;
}
